*{
    margin: 0;
    padding: 0;
}

/* Header Part Start */

header{
    min-height: 100vh;
    background-image: url(../images/banner-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.color{
    color: #fff;
}

.btn-Contact{
    border: none;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 30px;
    color: #fff;
    margin-left: 5px;
}

.banner{
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_content{
    width: 30%;
    text-align: center;
}

.banner_content h1{
    color: #fff;
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.banner_content h3{
    color: #fff;
    font-size: 45px;
    font-weight: 500;
}

.banner_content p{
    color: #fff;
    margin: 20px 0 30px 0;
}

.banner_button{
    background-color: #dab200;
    border: none;
    border: 1px solid #dab200;
    border-radius: 5px;
    padding: 15px 40px;
    color: #fff;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.banner_button:hover{
    background-color:#a89438 ;
}

/* Header Part End */

/* Service Section Start */

.services_section{

}

.service{

}

.service h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #413960;
    text-align: center;
}

.service span{
    display: block;
    height: 2px;
    width: 20%;
    margin: auto;
    background-color: #dab200;
}

.single_service{

}

.single_service img{

}

.single_service h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
    color: #413960;
}

.single_service p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #585859;
}
/* Service Section End */

/* Testimonial Section Start */

.testimonial_section{
    background-color: aliceblue;
}

.testimonial_section p{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    text-align: center;
}

.testimonial_section i{
    margin-bottom: 20px;
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: rgb(182, 171, 171);
}

.client{
    width: 30%;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 50%;
    
    
}

.client h5{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #808088;
    text-align: center;
}


/* Testimonial Section End */


/* About Us Section Start */

.about_us{

}

.about_us h5{
    font-size: 14px;
    font-weight: 300;
    color: #808088;
}

.about_us h3{
    font-size: 34px;
    font-weight: 500;
    color: #808088;
}

.about_us p{
    font-size: 18px;
    font-weight: 300;
    color: #808088;
}

.btn-us{
    border: none;
    border: 1px solid rgb(70, 69, 69);
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 40px;
    color: #000;
    transition: .3s all ease-in-out;
}

.btn-us:hover{
    
    border-color: #dab200;
    color: #dab200;
}

/* About Us Section End */

/* Question Section Start */
.question{
    min-height: 70vh;
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 60px;
}

.question h1 {
    font-size: 45px;
    color: #fff;
    margin-top: 50px;
    text-align: center;
}

.question p{
    font-size: 20px;
    color: #fff;
    text-align: center;
}

/* Question Section End */